<div class="container">
    <h2>Crear Evento</h2>
    <form [formGroup]="eventoForm" (ngSubmit)="crearEvento()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="datetime-local" id="fecha" formControlName="fecha" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="ubicacion">Ubicación</label>
        <input type="text" id="ubicacion" formControlName="ubicacion" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" formControlName="descripcion" class="form-control" required></textarea>
      </div>
  
      <button type="submit" [disabled]="!eventoForm.valid" class="btn btn-primary">Crear Evento</button>
    </form>
    <button class="btn btn-secondary" routerLink="/eventos">Volver</button>
  </div>